form {
  width: 25%;
  min-width: 15rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  font-size: var(--small);
  color: var(--white);

  background: none;
  border: none;
  border-bottom: 1px solid var(--white);

  padding: 0.3rem;
}

input:focus, textarea:focus, input:active, textarea:active {
  outline: none;
  border-bottom: 2px solid var(--white);
}

input::placeholder, textarea::placeholder {
  color: var(--pink);
}

.button {
  width: fit-content;
  border: none;
}

textarea {
  height: 10rem;
  resize: none;
}