*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --black: #292f36;
  --blue: #23b5d3;
  --pink: #ff4365;
  --white: #ffffff;

  --large: 4rem;
  --med: 2rem;
  --small: 1.5rem;
}

*:not(i) {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: var(--black);
  color: var(--white);
}

.icon {
  font-size: var(--med);

  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}

nav {
  margin: 1rem;
}

nav ul {
  font-size: var(--small);

  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style: none;
}

nav li {
  margin: 0.5rem;
}

nav a {
  text-decoration: none;
}

.title {
  color: var(--blue);
  font-size: var(--large);
  text-align: center;
  margin-top: 3rem;
}

.subtitle {
  font-size: var(--med);
  text-align: center;
  margin: 3rem;
}

.list {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.list td {
  font-size: var(--med);
  color: var(--pink);
}

.list i {
  color: var(--blue);
}

.button {
  font-size: var(--med);
  color: var(--white);
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: fit-content;

  background: var(--pink);
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #6e0d1f;
}

.button:hover {
  background: var(--blue);
  box-shadow: none;
}

table i {
  width: 1rem;
  height: 1rem;
  margin-right: 2rem;
}

a {
  color: inherit;
}