:root {
    --font-family: 'Space Grotesk', sans-serif;
    --spacing: 0.5rem;
}

main {
    display: flex;
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .content {
        margin: 0 3rem;
    }
}

hgroup {
    margin: 2rem 0;
}

header,
footer {
    padding: 0 1rem !important;
}

footer {
    color: gray;
}

img {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: 0 -0.3rem;
    border: 2px solid black;
    border-radius: 50%;
}

#particles-js {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    padding: 0.7rem;
    min-width: 30vw;
}


.links {
    margin: var(--spacing);
    padding: 0;

}

.links li {
    list-style-type: none;
}

i {
    margin-right: 1ch;
}