*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    margin-top: 5vh;
    text-align: center;
}

h1 {
    font-weight: bold;
}

p {
    width: 50ch;
}

img {
    width: 14rem;
    border: 2px solid black;
    border-radius: 50%;
}

canvas {
    display: block;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.socials i {
    margin: 0.5rem;
    font-size: 2rem;
    color: black;
}

.socials i:hover {
    transform: scale(1.1);
}

.button {
    display: block;
    width: fit-content;
    border: 2px solid black;
    margin: 1rem auto;
    padding: 0.5rem 0.75rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5vw;
}

.button:hover {
    transform: scale(1.05);
}